*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper and scripts
gradlew
gradlew.bat
gradle/wrapper/

# IDE artifacts
.kotlin/
.vscode/

# Temp and logs
*.hprof
.history/
